html, body{
	height:100%;
	padding:0;
	margin:0;
}
body {
	background-color:#f2f2f2;
	background:url("3.jpg");
	background-repeat:no-repeat;
	display:compact;
}

h2 {
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 35px;
	color: White;
}
.jumbotron h3{
	color:black;
}
img {
	height: 200px;
	width: 200px;
	box-shadow: none;
	padding: none;
}
p {
	font-family: Tahoma, Arial, Verdana;
	font-size: 1em;
}


.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: #ffffff;
}
.img_border{
	border: 2px solid #4dd2ff;
	padding:none;
	border-radius:2px;
}
a{
	text-decoration:none;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
}
a:hover{
	text-decoration:none;
	font-family: Futurama, Tahoma, sans-serif;
	color:red;
}
header nav{
	display:flex;
	justify-content:flex-end;
}
header p {
	padding: 0 20px;
	margin:0;
}
header{
	padding:20px 0;
}
header .row,
footer.row{
	display:flex;
	align-items:center;
}
header h1{
	font-weight:700;
	margin:0;
}
.jumbotron{
	display:flex;
	align-items:center;
	color:#ffffff;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	z-index:2;
	background:url("cr103_com_electronik_09.jpg")
}
header{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color:#80b3ff;
}

.container{
	word-wrap:break-word;
	z-index:1;
}

#nav_btn{
	border-left:1px solid #3385ff;
	padding-left:10px;
}
header a{
	text-decoration:none;
	padding-left:20px;
	color:black;
	padding-right:20px;
	position:relative;
}

header a:hover{
	text-decoration:none;
	padding-left:20px;
	color:black;
	padding-right:20px;
}
header a:active{
	text-decoration:none;
	padding-left:20px;
	color:black;
	padding-right:20px;
	top:2px;
}
#chng_log_title{
	padding:10px;
	font-weight:400;
}
#change_log{
	max-height:650px;
	overflow:auto;
	min-height:650px;
}
#overflow{
	max-height:650px;
	overflow-y:scroll;
	min-height:650px;
	border:1px solid black;
	border-top:none;
	border-left:none;
}
#twtr_feed_title{
	padding:10px;
	font-weight:600;
}
#twtr_feed{
	max-height:650px;
	overflow:auto;
	min-height:650px;
	}
footer {
  font-size: 12px;
  padding: 20px 0;
  background-color:#ffffff;                                      
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
#jumleft{
	float:left;
	min-height:650px;
	max-height:1200px;
	width:250px;
	position:relative;
	overflow-y:scroll;
	text-align:center;
	text-decoration:none;
	top: 15px;
}
#jumleft a{
	text-decoration:none;
}
#jumright{
	float:right;
	min-height:650px;
	max-height:1200px;
	width:250px;
	position:relative;
	text-align:center;
	text-decoration:none;
	top:15px;
	overflow-y:scroll;
}
.container{
	position:relative;
}
