html, body{
	height:100%;
	padding:0;
	margin:0;
	overflow-y: hidden;
}
.jumbotron{
	height:75%;
	width:100%;
	background: url('css/3.jpg') no-repeat;
	position:fixed;
	top:12.5%;
	text-align:center;
}
header .row,
footer.row{
	display:flex;
	align-items:center;
}
footer {
	font-size: 12px;
	padding: 20px 0;
	background-color:none; 
	position:relative;
	top:93%;
	text-align:center;
}
footer p{
	color:white;
	font-size:12px;
	font-family:Arial, sans-serif;
}
footer a{
	color:white;
	font-size:12px;
	font-family:Arial, sans-serif;
	text-decoration:none;
}
footer a:hover{
		color:white;
	font-size:12px;
	font-family:Arial, sans-serif;
	text-decoration:none;
}
footer a:active{
		color:white;
	font-size:12px;
	font-family:Arial, sans-serif;
	text-decoration:none;
}
#enter_button{
	text-decoration:none;
	font-size:22px;
	font-family:Code, sans-serif;
	color:white;
	border:1px solid white;
	padding:12px;
	padding-left:16px;
	padding-right:16px;
}
.jumbotron, progress{
	text-decoration:none;
	color:white;
}
.jumbotron, progress:hover{
	text-decoration:none;
	color:white;
}
.jumbotron, p{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
}
.jumbotron, p:hover{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
}
.jumbotron a{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
}
.jumbotron a:hover{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
}
.jumbotron a:active{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
}
.jumbotron a:visited{
	text-decoration:none;
	color:white;
	font-family:Arial, sans-serif;
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
}
